<div class="container">
  <div class="panel panel-default">
    <todo-header
      (onAdd)="addTodo($event)"
    ></todo-header>
    <todo-list
      [todos]="todosService.todos | todoListFilter: filter"
      (onDelete)="deleteTodo($event)"
      (onEdit)="updateTodo($event)"
    ></todo-list>
    <todo-footer
      *ngIf="todosService.todos.length"
      [uncompleted]="getUncompletedTodosAmount()"
      [completed]="getCompletedTodosAmount()"
      [currentFilter]="filter"
      (onFilter)="applyFilter($event)"
      (onToggleAll)="toggleAllTodo($event)"
      (onRemoveCompleted)="removeCompleted()"
    ></todo-footer>
  </div>
</div>

