<div class="todo-toggle">
  <input type="checkbox" [checked]="todo.completed" (click)="toggleTodo()">
</div>
<div class="todo-title" [ngClass]="{'completed': todo.completed, 'editing': isEditing}" (dblclick)="startEditingTodo()">
  <span *ngIf="!isEditing">{{todo.text}}</span>
  <input
    autoFocus
    type="text"
    class="form-control input-sm"
    *ngIf="isEditing" #todoitem
    (keypress)="onKeypress($event)"
    (keyup.escape)="cancelEditingTodo()"
    (focus)="setCurrentTodo()"
    [value]="todo.text"
  >
</div>
<div class="todo-buttons">
  <div class="btn-group">
    <button *ngIf="isEditing" (click)="updateTodo()" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-ok"></i></button>
    <button *ngIf="!isEditing" class="btn btn-default btn-sm" (click)="startEditingTodo()">
      <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button *ngIf="isEditing" class="btn btn-default btn-sm" (click)="cancelEditingTodo()">
      <i class="glyphicon glyphicon-ban-circle"></i>
    </button>
  </div>
  <button class="btn btn-danger btn-sm" (click)="deleteTodo()"><i class="glyphicon glyphicon-trash"></i></button>
</div>

